[submodule "ctrl-p"]
  path = .config/nvim/bundle/ctrlp.vim
  url = git@github.com:ctrlpvim/ctrlp.vim.git
[submodule "nerdcommenter"]
  path = .config/nvim/bundle/nerdcommenter
  url = git@github.com:preservim/nerdcommenter.git
[submodule "syntastic"]
  path = .config/nvim/bundle/syntastic
  url = git@github.com:vim-syntastic/syntastic.git
[submodule "vim-fugitive"]
  path = .config/nvim/bundle/vim-fugitive
  url = git@github.com:tpope/vim-fugitive.git
